<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BandMusicMapper">
    <insert id="insertBandMusic">
        INSERT INTO band_music (band_id, music_id)
        VALUES (#{bandId}, #{musicId})
    </insert>
    <select id="getMusic" resultType="com.bandwith.domain.Music">
        SELECT *
        FROM music
        WHERE music_id = #{music_id}
    </select>
    <select id="getRecordMember" resultType="com.bandwith.domain.Member">
        SELECT *
        FROM  member
        WHERE member_id IN(
            SELECT member_id
            FROM record_band_music
            WHERE band_music_id = #{band_music_id}
        )

    </select>


    <select id="select" resultType="com.bandwith.domain.BandMusic">
        SELECT * from band_music WHERE band_music_id = #{bandMusicId}
    </select>

    <!--  SEARCH  -->
    <select id="selectBandMusicTitle" resultType="com.bandwith.domain.BandMusic">
        SELECT *
        FROM band_music bm
        WHERE (
            SELECT m.title
            FROM music m
            WHERE m.music_id = bm.music_id AND bm.complete = true
        ) LIKE '%${title}%'
    </select>
    <select id="selectBandMusicLike" resultType="com.bandwith.domain.BandMusic">
        SELECT bm.*, count(*) cnt
        FROM band_music bm
            INNER JOIN music m ON bm.music_id = m.music_id
            INNER JOIN likes l ON bm.band_music_id = l.band_music_id
        WHERE bm.complete = true AND m.title LIKE '%${title}%'
        GROUP BY bm.band_music_id
        ORDER BY cnt DESC
    </select>

    <select id="selectBandMusicBandTitle" resultType="com.bandwith.domain.BandMusic">
        SELECT *
        FROM band_music bm
        WHERE (
                  SELECT b.title
                  FROM band b
                  WHERE b.band_id = bm.band_id AND bm.complete = true
              ) LIKE '%${title}%'
    </select>
    <select id="selectBandMusicBandLike" resultType="com.bandwith.domain.BandMusic">
        SELECT bm.*, count(*) cnt
        FROM band_music bm
                 INNER JOIN music m ON bm.music_id = m.music_id
                 INNER JOIN likes l ON bm.band_music_id = l.band_music_id
        WHERE bm.complete = true AND bm.title LIKE '%${title}%'
        GROUP BY bm.band_music_id
        ORDER BY cnt DESC
    </select>
</mapper>