<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BandMusicMapper">
    <insert id="insertBandMusic">
        INSERT INTO band_music (band_id, music_id)
        VALUES (#{bandId}, #{musicId})
    </insert>
    <select id="getMusic" resultType="com.bandwith.domain.Music">
        SELECT *
        FROM music
        WHERE music_id = #{music_id}
    </select>
    <select id="getRecordMember" resultType="com.bandwith.domain.Member">
        SELECT *
        FROM  member
        WHERE member_id IN(
            SELECT member_id
            FROM record_band_music
            WHERE band_music_id = #{band_music_id}
        )

    </select>


    <select id="select" resultType="com.bandwith.domain.BandMusic">
        SELECT * from band_music WHERE band_music_id = #{bandMusicId}
    </select>

<!--    <select id="getBandMusicByBandId" resultType="com.bandwith.dto.record.RecordForBandDto">-->
<!--        SELECT * from band_music WHERE band_id = #{band_id}-->
<!--    </select>-->
</mapper>