<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookmarkMapper">
    <select id="selectBookmarks" resultType="com.bandwith.domain.Bookmark">
        SELECT *
        FROM bookmark
        WHERE bookmark.MEMBER_ID = ( SELECT MEMBER_ID from member WHERE USERNAME = #{username})
    </select>
</mapper>