<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LikeMapper">
    <select id="countLike" resultType="int">
        SELECT count(*) FROM likes WHERE RECORD_ID = #{record_id}
    </select>
    <select id="searchByMemberID" resultType="int">
        SELECT count(*)
        FROM likes b
                 INNER JOIN record rb ON b.record_id = rb.record_id
        WHERE rb.member_id = #{member_id}
    </select>
    <select id="bandMusicLike" resultType="int">
        SELECT count(*) FROM likes WHERE band_music_id = #{band_music_id}
    </select>

    <insert id="insertLikeOnRecord">
        INSERT INTO likes (member_id, record_id, band_music_id)
        VALUES (#{memberId}, #{recordId}, null)
    </insert>

    <insert id="insertLikeOnBandMusic">
        INSERT INTO likes (member_id, record_id, band_music_id)
        VALUES (#{memberId}, null, #{bandMusicId})
    </insert>

    <delete id="deleteLikeOnRecord">
        DELETE FROM likes
        WHERE member_id = #{memberId} AND record_id = #{recordId}
    </delete>

    <delete id="deleteLikeOnBandMusic">
        DELETE FROM likes
        WHERE member_id = #{memberId} AND band_music_id = #{bandMusicId}
    </delete>
</mapper>