<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
    <insert id="insertMember">
        INSERT INTO member (username, pwd, name, profile_img)
        VALUES (#{username}, #{pwd}, #{name}, #{profileImg})
    </insert>
</mapper>
