<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
    <insert id="insertMember">
        INSERT INTO member (username, pwd, name, profile_img, email)
        VALUES (#{username}, #{pwd}, #{name}, #{profile_img}, #{email})
    </insert>

    <select id="login" resultType="com.bandwith.domain.Member">
        SELECT * from member WHERE USERNAME = #{username} AND PWD = #{pwd}
    </select>

    <select id="countFollower" resultType="int">
        SELECT count(*) from follow WHERE FOLLOWING_ID = ( SELECT MEMBER_ID from member WHERE USERNAME = #{username} )
    </select>

    <select id="countFollowing" resultType="int">
        SELECT count(*) from follow WHERE FOLLOWER_ID = ( SELECT MEMBER_ID from member WHERE USERNAME = #{username} )
    </select>

    <select id="selectWithBookmark" resultType="com.bandwith.domain.Member">
        SELECT m.*
        FROM bookmark b
            INNER JOIN record_bookmark rb ON b.BOOKMARK_ID = rb.BOOKMARK_ID
            INNER JOIN member m ON m.MEMBER_ID = rb.MEMBER_ID
        WHERE b.BOOKMARK_ID = #{bookmark_id}
    </select>


    <select id="selectWithBandMusic" resultType="com.bandwith.domain.Member">
        SELECT m.*
        FROM record r
            INNER JOIN (
                SELECT record_id FROM RECORD_BAND_MUSIC WHERE band_music_id = #{bandMusicId}
            ) rbm ON rbm.RECORD_ID = r.RECORD_ID
            INNER JOIN member m ON m.MEMBER_ID = r.MEMBER_ID
    </select>

    <select id="selectWithUsername" resultType="com.bandwith.domain.Member">
        SELECT * FROM member WHERE member.username = #{username}
    </select>

    <select id="select" resultType="com.bandwith.domain.Member">
        SELECT * FROM member WHERE member_id = #{member_id}
    </select>

    <delete id="deleteMember">
        DELETE
        FROM member
        WHERE username = #{username}
    </delete>

    <select id="getMemberId" resultType="int">
        SELECT member_id FROM member
        WHERE username = #{username}
    </select>
</mapper>
