<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MusicMapper">
    <select id="select" resultType="com.bandwith.domain.Music">
        SELECT *
        FROM music
        WHERE music.MUSIC_ID = #{music_id}
    </select>

    <!--  SEARCH  -->
    <select id="selectMusicByTitle" resultType="com.bandwith.domain.Music">
        SELECT *
        FROM music
        WHERE music.title
        LIKE '%${title}%'
--         ORDER BY music.title desc
    </select>
    <select id="selectMusicByRecord" resultType="com.bandwith.domain.Music">
        SELECT m.music_id AS music_id, m.title AS title, m.singer AS singer,
               m.composer AS composer, m.profile_img AS profile_img, count(*) AS cnt
        FROM music m LEFT JOIN record r ON m.music_id = r.music_id
        WHERE m.title LIKE '%${title}%'
        GROUP BY m.music_id
        ORDER BY cnt DESC
    </select>
    <select id="selectMusicByLatest" resultType="com.bandwith.domain.Music">
        SELECT *
        FROM music
        WHERE title LIKE '%${title}%'
        ORDER BY created_at DESC
    </select>


    <select id="selectMyPage" resultType="com.bandwith.domain.Music">
        SELECT DISTINCT mu.*
        FROM member m
            INNER JOIN record r ON m.member_id = r.member_id
            INNER JOIN music mu ON r.music_id = mu.music_id
        WHERE m.username = #{username}
    </select>

    <select id="selectOthersPage" resultType="com.bandwith.domain.Music">
        SELECT DISTINCT mu.*
        FROM member m
                 INNER JOIN record r ON m.member_id = r.member_id
                 INNER JOIN music mu ON r.music_id = mu.music_id
        WHERE m.username = #{username} AND r.access = true
    </select>

    <insert id="insertMusic">
        INSERT INTO music (music_id, title, profile_img, singer, composer)
        VALUES (#{music_id}, #{title}, #{profileImgUrl}, #{singer},#{composer})
    </insert>

    <select id="sort" resultType="com.bandwith.domain.Music">
        SELECT *
        FROM music
        WHERE music.MUSIC_ID = #{filter}
    </select>


</mapper>
