<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RecordMapper">
    <select id="selectRecordUrlsByIdList" resultType="String">
        SELECT file_url
        FROM record
        WHERE record_id IN
        <foreach collection="recordIdList" item="recordId" index="index" open="(" close=")" separator=",">
            #{recordId}
        </foreach>
    </select>

    <select id="selectRecords" resultType="com.bandwith.domain.Record">
        SELECT *
        FROM record
        WHERE record.MEMBER_ID = (SELECT MEMBER_ID from member WHERE USERNAME = #{username})
    </select>

    <select id="selectByMusicId" resultType="com.bandwith.domain.Record">
        SELECT *
        FROM record
        WHERE record.music_id = #{music_id}
    </select>

    <select id="selectRecordsByMusicId" resultType="com.bandwith.domain.Record">
        SELECT r.*
        FROM record r
                 INNER JOIN music m ON r.music_id = m.music_id
        WHERE r.MEMBER_ID = (SELECT MEMBER_ID from member WHERE USERNAME = #{username})
          AND m.music_id = #{musicId}
          AND (r.access OR #{condition})
        ORDER BY r.created_at desc
    </select>

    <select id="selectRecordsByFilter" resultType="com.bandwith.domain.Record">
        <choose>
            <when test="filter == 'latest'">
                SELECT r.* FROM record r
                WHERE r.music_id = #{musicId} AND r.searchable = TRUE
                ORDER BY created_at DESC
            </when>
            <when test="filter == 'like'">
                SELECT r.*, r.record_id AS r_id, count(*) AS cnt
                FROM record r LEFT JOIN likes l on r.record_id = l.record_id
                WHERE r.music_id = #{musicId} AND r.searchable = TRUE
                GROUP BY r_id
                ORDER BY cnt DESC
            </when>
        </choose>
    </select>

    <select id="getRecordName" resultType="com.bandwith.dto.record.RecordNameDto">
        SELECT uuid, file_name as fileName
        FROM record
        WHERE record_id = #{recordId}
    </select>

    <insert id="insertRecord">
        INSERT INTO record (music_id, member_id, instrument, searchable, access, uuid, file_name, file_url)
        VALUES (#{musicId}, #{memberId}, #{instrument}, #{searchable}, #{access}, #{uuid}, #{fileName}, #{fileUrl})
    </insert>

    <delete id="deleteRecord">
        DELETE
        FROM record
        WHERE record_id = #{recordId}
    </delete>

    <update id="updateAttributes">
        UPDATE record
        set access     = #{access},
            searchable = #{searchable}
        WHERE record_id = #{recordId}
    </update>

    <select id="countInstrument" resultType="int">
        SELECT count(*)
        FROM record
        WHERE record.member_id = #{memberId}
          AND record.instrument = #{instrument}
    </select>
</mapper>
